@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap");
$font_primary: "DM Sans", sans-serif;
$font_secondary: "Playfair Display", serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font_primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: black;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.text-bold {
  font-weight: bold;
}

.text-green {
  color: #3ce300;
  font-weight: bold;
}

.text-red {
  color: #e60000;
  text-decoration: line-through;
  font-weight: bold;
}

.text-green {
  color: #61b553;
}
.text-padding {
  padding: 0 0.5rem;
}

.text-center {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.image-wrapper {
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

.list {
  padding-left: 0;
  &__item {
    padding-left: 4.3rem;
  }
}

.btn {
  width: 100%;
  border: 2px solid #7b6cd5;
  background-color: #7b6cd5;
  text-align: center;
  display: block;
  border-radius: 4px;
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 1.8rem 4.4rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  border-radius: 2rem 0 2rem 0;
  &:hover {
    background-color: #7c6cd5bd;
    border: 2px solid #7c6cd5bd;
  }
}

.page__header {
  font-family: $font_secondary;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.8rem;
  @media (min-width: 768px) {
    font-size: 4rem;
    line-height: 5.5rem;
  }
}

.text__purple {
  color: #7b6cd5;
}

.container {
  width: 100%;
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 22px;
  @media (min-width: 1280px) {
    padding: 0;
  }
}

//HERO
.hero {
  background-image: url("../images/background_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.2rem 0 6.1rem;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  &__image {
    &--logo {
      max-width: 23rem;
    }
    &--atesi {
      max-width: 15rem;
      margin-bottom: 4rem;
    }
  }
  &__title {
    color: white;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 900;
  }
  &__list {
    position: relative;
    margin-bottom: 3rem;
    .list__item {
      position: relative;
      font-size: 2rem;
      font-weight: bold;
      color: white;
      padding-bottom: 1.4rem;
      &::after {
        position: absolute;
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background-color: #8779dc;
        left: 0;
        top: 4px;
      }
      &::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        border: 2px dashed #8779dc;
        top: 4px;
        left: 4px;
      }
      &:nth-child(3) {
        padding-bottom: 4rem;
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
    }
  }
  &__yogaWoman {
    height: 63rem;
    background-image: url("../images/img_main.png");
    background-position: center;
    background-repeat: no-repeat;
    img {
      display: none;
    }
  }
  @media (min-width: 1109px) {
    padding-bottom: 0;
    &__list {
      position: absolute;
      width: 95%;
      height: 60rem;
      translate: -50% 0;
      bottom: 0;
      margin: 0;
      left: 50%;
      .list__item {
        padding-bottom: unset;
        padding-left: unset;
        position: absolute;
        &::after {
          display: none;
        }
        &::before {
          display: none;
        }
        &:nth-child(3) {
          padding-bottom: unset;
        }
        //1st list item
        &:nth-child(1) {
          max-width: 130px;
          left: 100px;
        }
        //2nd list item
        &:nth-child(2) {
          max-width: 141px;
          left: 50px;
        }
        //3rd list item
        &:nth-child(3) {
          max-width: 175px;
          left: 30px;
        }

        //4th list item
        &:nth-child(4) {
          max-width: 175px;
          right: 70px;
        }
        //5th list item
        &:nth-child(5) {
          max-width: 185px;
          right: 10px;
        }
        //6th list item
        &:nth-child(6) {
          max-width: 155px;
          right: 50px;
        }
      }
      .desktop__left {
        left: 0;
        text-align: right;
      }
      .desktop__right {
        text-align: left;
        right: 0;
      }
      .desktop__top {
        top: 115px;
      }
      .desktop__mid {
        top: 255px;
      }
      .desktop__bot {
        top: 410px;
      }
    }

    &__yogaWoman {
      height: unset;
      background-image: none;
      img {
        margin: 0 auto;
        display: block;
        margin-bottom: -5rem;
      }
    }
  }
  @media (min-width: 768px) {
    &__container {
      position: relative;
    }
    &__nav {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      margin-bottom: 6rem;
    }
    &__image {
      margin-bottom: 0;
    }
  }
}
//FORM
.form {
  background-color: #f4f4f4;
  padding: 6rem 0 4rem;
  &__container {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(1, 1fr);
  }
  &__title {
    margin-bottom: 2rem;
  }
  &__message {
    display: none;
    color: green;
    font-size: 1.6rem;
    margin: 1rem 0;
    font-weight: 700;
  }
  &__formWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  &__labelWrapper {
    display: grid;
    grid-template-columns: 20px auto;
    grid-gap: 1rem;
  }
  &__checkbox {
    margin: 0;
    width: 2rem;
    height: 2rem;
    accent-color: #7b6cd5;
    border: none;
  }
  &__input {
    background-color: white;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    padding: 1.5rem 3.5rem 1.5rem;
    width: 100%;
    &:last-of-type {
      margin-bottom: 1.5rem;
    }
    &::placeholder,
    & {
      font-size: 1.8rem;
      line-height: 3.2rem;
    }
  }
  &__labelContent {
    font-size: 1.4rem;
  }
  &__label {
    margin-bottom: 20px;
  }
  &__button {
    max-width: 18.3rem;
  }
  &__offer {
    background-color: #7b6cd5;
    padding: 5rem 5.5rem;
  }
  &__offerTitle {
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #b9a5ea;
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: 100%;
    word-break: break-word;
    &--big {
      font-size: 5.5rem;
    }
  }
  &__offerContent {
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 2.5rem;
  }
  // @media (min-width: 768px) {
  //   &__col {
  //     &:nth-child(1) {
  //       grid-row: 1;
  //       grid-column: 2;
  //     }
  //     &:nth-child(2) {
  //       grid-row: 1;
  //       grid-column: 1;
  //     }
  //   }
  // }
  @media (min-width: 1024px) {
    &__container {
      grid-template-columns: 475px auto;
      align-items: center;
    }
    &__col {
      &:nth-child(1) {
        grid-row: 1;
        grid-column: 2;
      }
      &:nth-child(2) {
        grid-row: 1;
        grid-column: 1;
      }
    }
    &__inputsWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 1.5rem;
      margin-bottom: 1.5rem;
    }
    &__input {
      margin-bottom: 0;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &__label {
      margin-bottom: 3rem;
    }
    &__button {
      margin: 0;
    }
    &__title {
      margin-bottom: 3rem;
    }
    &__offer {
      padding: 5.3rem 2.7rem 4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2.7rem;
    }
    &__offerTitle {
      padding-bottom: 0;
      margin-bottom: 0;
      text-align: left;
      border-bottom: none;
      padding-right: 2rem;
      border-right: 1px solid #b9a5ea;
    }
    &__offerContent {
      text-align: left;
    }
  }
}

//BENEFITS
.benefits {
  padding-bottom: 47rem;
  background-image: url("../images/img_rozladuj_stres.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 47rem;

  &__col {
    max-width: 60rem;
    padding: 4rem 2.2rem;
    width: 100%;
  }
  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }
  &__content {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    &--first {
      margin-bottom: 2rem;
    }
    &--second {
      margin-bottom: 6rem;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    justify-items: center;
    margin-bottom: 4rem;
  }
  &__single {
  }
  &__image {
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  &__benefitContent {
    text-align: center;
    max-width: 20rem;
    width: 100%;
  }
  &__author {
    font-style: italic;
    font-size: 1.6rem;
  }
  @media (min-width: 1140px) {
    &__col {
      margin-left: auto;
      margin-right: 16%;
    }
  }
  @media (min-width: 768px) {
    padding-bottom: 0;
    background-image: none;
    background-size: 800px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 0px;
    &__colImage {
      background-image: url("../images/img_rozladuj_stres.jpg");
      background-size: cover;
      // background-position: center right;
      background-repeat: no-repeat;
    }

    &__container {
      padding-top: 6rem;
      padding-bottom: 4.5rem;
    }
    &__title {
      margin-bottom: 3rem;
      text-align: left;
    }
    &__content {
      font-size: 1.6rem;
      line-height: 2.2rem;
      text-align: left;
      &--first {
        margin-bottom: 2rem;
      }
      &--second {
        margin-bottom: 9rem;
      }
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4.7rem 5.5rem;
      justify-items: center;
      margin-bottom: 6rem;
    }
    &__single {
      display: flex;
      gap: 1.5rem;
      width: 100%;
    }
    &__image {
      margin: 0;
      margin-bottom: 0rem;
    }
    &__benefitContent {
      text-align: left;
      max-width: 20rem;
      width: 100%;
    }
    &__author {
      font-style: italic;
      font-size: 1.6rem;
    }
  }
}

//opinion
.opinions {
  background-image: url("../images/background_Martin_Novacek.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 6rem 0;

  @media (min-width: 768px) {
    padding: 7rem 0 11rem;
  }
  .page__header {
    margin-bottom: 3rem;
    text-align: center;

    span {
      color: #7b6cd5;
    }
  }
  &__wrapper {
    text-align: center;
  }
  &__text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 100%;
    max-width: 78.5rem;
    margin: 0 auto;
  }
}

//TESTIMONIALS
.testimonials {
  padding: 3rem 0;

  @media (min-width: 768px) {
    padding: 7rem 0;
  }

  .page__header {
    text-align: center;
  }

  &__wrapper {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;

    @media (min-width: 768px) {
      gap: 4rem;
    }
  }
  &__card {
    width: 100%;
    max-width: 45rem;
    padding: 3rem;
    background-color: #fafafa;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);

    &Header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    &Name {
      font-size: 1.8rem;
      font-weight: 700;
    }
    &Text {
      text-align: left;
    }
  }
}

//PRICING
.pricing {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 768px) {
      grid-template-columns: 45% 55%;
    }
  }
  &__imageWrapper {
    background-image: url("../images/img_joga.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20rem 0;
  }
  &__textWrapper {
    padding: 2rem;
    background-color: #eeebff;

    @media (min-width: 768px) {
      padding: 6rem 2rem 6rem 4rem;
    }
    @media (min-width: 1240px) {
      padding: 6rem 2rem 6rem 10rem;
    }
  }
  &__title {
    font-size: 2.6rem;
    line-height: 4.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__inner {
    display: grid;
    grid-template-columns: 10rem 12rem 1fr;
    gap: 1rem;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      gap: 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__textBig {
    font-size: 2.6rem;
  }
  &__textSmall {
    font-size: 2.2rem;
    font-weight: 500;
    text-decoration: line-through;
  }
  &__btn {
    max-width: 40rem;
    margin: 3rem auto 0 0;
  }
}
//FOOTER
.footer {
  padding: 4rem 0 2rem;
  background-image: url("../images/background_footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__company {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 4rem;

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: white;
    font-weight: 700;
    text-align: center;

    @media (min-width: 992px) {
      text-align: left;
    }
  }
  &__copyrights {
    padding-top: 4rem;
    // border-top: 1px solid rgba(232, 232, 232, 0.4);
  }
  &__navi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
  }
  &__link {
    font-size: 1.6rem;
    color: white;
    margin-bottom: 1rem;
    font-weight: 400;
    position: relative;
    @media (min-width: 992px) {
      &:not(:last-of-type) {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -1.3rem;
          width: 2px;
          height: 20px;
          background-color: #fff;
        }
      }
    }

    a {
      color: inherit;
    }
  }
}
